/API/Web.config
/BusinessLogic/App.config
/Client/Web.config
/Common/App.config
/Core/App.config
/DataAccess/App.config
/DataAccess/*.config
/Core/*.config
/.vs/Client/v15/Server/sqlite3/*.lock
/.vs/Client/v15/Server/sqlite3/*.ide
/.vs/Client/v15/Server/sqlite3/storage.ide-shm
/.vs/Client/v15/Server/sqlite3/*.ide-wal
/Core/obj/Debug/*.cache
/Client/*.config
/Client/Views/*.config
/BusinessLogic/*.config
/API/*.config
/API/Views/*.config
/Common/*.config
/API/bin/*.config
/BusinessLogic/bin/Debug/*.config
/API/bin/*.dll
/API/bin/*.pdb
/API/bin/*.exe
/API/bin/*.xml
/API/bin/roslyn/*.dll
/API/bin/roslyn/*.targets
/API/bin/roslyn/*.exe
/API/bin/roslyn/*.config
/Client/bin/*.dll
/Client/bin/*.pdb
/Client/bin/*.config
/Client/bin/*.xml
/Client/bin/roslyn/*.dll
/Client/bin/roslyn/*.targets
/Common/bin/Debug/*.exe
/Common/bin/Debug/*.config
/Common/bin/Debug/*.pdb
/Common/bin/Debug/*.dll
/Common/bin/Debug/*.xml
/Core/bin/Debug/*.dll
/Core/bin/Debug/*.config
/Core/bin/Debug/*.pdb
/Core/bin/Debug/*.exe
/Core/bin/Debug/*.xml
/Core/bin/Debug/roslyn/*.dll
/Core/bin/Debug/roslyn/*.targets
/Core/bin/Debug/roslyn/*.exe
/Core/bin/Debug/roslyn/*.config
/DataAccess/bin/Debug/*.exe
/DataAccess/bin/Debug/*.config
/DataAccess/bin/Debug/*.pdb
/DataAccess/bin/Debug/*.dll
/DataAccess/bin/Debug/*.xml
